<form>
  <div>
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput type="text" id="fullName" name="fullName" value="John Doe">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <!-- Your code here -->
    </mat-form-field>
      <mat-label-label>Email</mat-label-label>
      <input matInput type="email" id="email" name="email" value="johndoe@example.com">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Document Type</mat-label>
      <mat-select id="documentType" name="documentType" value="Passport">
        <mat-option value="Passport">Passport</mat-option>
        <mat-option value="ID Card">ID Card</mat-option>
        <mat-option value="Driver's License">Driver's License</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Document Number</mat-label>
      <input matInput type="text" id="documentNumber" name="documentNumber" value="123456789">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput type="date" id="birth" name="birth" value="1990-01-01">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput type="tel" id="phone" name="phone" value="+1234567890">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label-label>Gender</mat-label-label>
      <mat-select id="gender" name="gender" value="Male">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Emergency Contact Name</mat-label>
      <input matInput type="text" id="emergencyContactName" name="emergencyContactName" value="Jane Doe">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Emergency Contact Phone</mat-label>
      <input matInput type="tel" id="emergencyContactPhone" name="emergencyContactPhone" value="+0987654321">
    </mat-form-field>
  </div>
</form>
